* {
  color: #000000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
}

body {
  background-color: tan;
}

.game-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  text-align: center;
  width: 510px;
  border-bottom: solid 1px #3a3a3c;
  font-family: "Courier New", Courier, monospace;
}

.words-container {
  display: flex;
  margin: 30px;
}

.tile-container {
  width: flex;
  margin: 30px;
}

.key-container {
  width: 510px;
  display: flex;
  flex-wrap: wrap;
}

.key-container button {
  width: 43px;
  height: 58px;
  border-radius: 4px;
  border: none;
  background-color: wheat;
  margin: 4px;
  font-size: large;
}

.key-container button:nth-child(11) {
  margin-left: 30px;
}

.key-container button:nth-child(20),
.key-container button:nth-child(28) {
  width: 68px;
}

.tile-container div {
  display: flex;
}

.tile-container .tile {
  width: 62px;
  height: 62px;
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin: 2px;
  border-radius: 4px;
  font-size: large;
  font-weight: bolder;
}

.tile.flip {
  animation: 0.5s linear flipping;
}

@keyframes flipping {
  0% {
    transform: rotateX(0d eg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.message-container {
  height: 30px;
}

.message-container p {
  color: black;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 10px;
  margin: 20;
}

.green-overlay {
  background-color: forestgreen !important;
  border: none !important;
}

.yellow-overlay {
  background-color: gold !important;
  border: none !important;
}

.grey-overlay {
  background-color: grey !important;
  border: none !important;
}

.button-container button {
  width: flex;
  height: flex;
  border-radius: 4px;
  border: none;
  background-color: whitesmoke;
  margin: 10px;
  font-size: large;
}
